<div>
    <ul class= 'list-unstyled'>
        <% events.each do |name, events| %>
        <h2><%= name %></h2>
            <li><p> Number of events: <%= events.count %></p>
        <% end %></li>
    </ul>
</div>